node_modules

#Back-End
Back-End/model.pkl
Back-End/processed_data.csv
Back-End/category_embeddings_hierarchical.pkl
Back-End/category_embeddings_categorical.pkl

#GoogleTrends-API
GoogleTrends-API/node_modules

#Web-App
Web-App/node_modules
Web-App/.pnp
Web-App/.pnp.js
Web-App/coverage
Web-App/build
Web-App.DS_Store
Web-App/.env.local
Web-App/.env.development.local
Web-App/.env.test.local
Web-App/.env.production.local
Web-App/npm-debug.log*
Web-App/yarn-debug.log*
Web-App/yarn-error.log*
