attrs
brotlicffi
brotlipy
ConfigParser
contextlib2
cryptography
Cython
dl
docutils
Flask
Flask_Cors
HTMLParser
importlib_metadata
ipython
ipywidgets
Jinja2
pyjnius
keyring
lockfile
mock
numpy
ordereddict
pandas
Pillow
protobuf
pymongo
pyOpenSSL
railroad
scikit_learn
sentence_transformers
simplejson
Sphinx
statsmodels
toml
tornado
transformers
truststore
urllib3_secure_extra
wincertstore
xmlrpclib
zstandard
